{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "css/xterm.css" %}" />
        <script src="{% static "js/xterm.js" %}"></script>
    </head>
    <body>
        <script>
            var term = new Terminal(),
                url = 'ws://{{ host_model.hostname }}/containers/{{ container_id }}/attach/ws?logs=0&stream=1&stdin=1&stdout=1',
                socket = new WebSocket(url);

            term.open(document.body);
            term.on('data', function (data) {
                socket.send(data);
            });

            socket.onmessage = function (e) {
                term.write(e.data);
            }
        </script>
    </body>
</html>