{% extends "base_site.html" %}
{% load static %}
{% block title %}Container{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/sortable-theme-bootstrap.css" %}" />
{% endblock stylesheet %}
{% block container %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h3>Container / {{ container_inspect.Id|slice:":12" }}</h3>
            </div>
        </div> 
    </div> 
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-default" onclick="attach();">Attach</button>
            <button class="btn btn-default">Start</button>
            <button class="btn btn-default">Stop</button>
            <button class="btn btn-default">Restart</button>
            <button class="btn btn-default">Rename</button>
            <button class="btn btn-default">Remove</button>

            <h3>Name</h3>
            <p>{% if '/' in container_inspect.Name %}
                   {{ container_inspect.Name|slice:"1:" }}
               {% else %}
                   {{ container_inspect.Name }}
               {% endif %}
            </p>

            <h3>Created</h3>
            <p>{{ container_inspect.Created }}</p>

            <h3>Enviromnet</h3>
            <p>{{ container_inspect.Config.Env.0 }}</p>

            <h3>Diff</h3>
            <code>
            {% for item in container_diff %}
                {{ item.Path }}<br>
            {% endfor %}
            </code>

            <h3>Log</h3>
            <pre>
            {{ container_logs }}
            </pre>
        </div>
    </div>
{% endblock container %}
{% block javascript %}
<script>
    function attach() {
        window.open("{% url 'attach' host_id container_id %}", "width=850,height=485");
    }
</script>
{% endblock javascript %}