{% extends "base_site.html" %}
{% load static %}
{% load containerstag %}
{% block title %}Containers{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/sortable-theme-bootstrap.css" %}" />
{% endblock stylesheet %}
{% block container %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <div class="pull-right search">
                    <input id="filter" class="form-control" type="text" placeholder="Search">
                </div>
                <h1>Containers</h1>
            </div>
        </div> 
    </div> 
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped sortable-theme-bootstrap" data-sortable>
                    <thead>
                        <tr>
                            <th>Host</th>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Command</th>
                            <th>Created</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody class="searchable">
                        {% for host in hosts_list %}
                            {% for container in host.containers %}
                                <tr>
                                    <td><a href="{% url 'host' host.id %}">{{ host.description }}</a></td>
                                    <td><a href="{% url 'container' host.id container.Id|truncateid %}">{{ container.Id|truncateid }}</a></td>
                                    <td>{{ container.Image }}</td>
                                    <td>{{ container.Command }}</td>
                                    <td>{{ container.Created|stampconvert }}</td>
                                    <td>{{ container.Status }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
{% endblock container %}
{% block javascript %}
<script src="{% static "js/sortable.min.js" %}"></script>
<script>
    $(document).ready(function () {
        (function ($) {
            $('#filter').keyup(function () {
                var rex = new RegExp($(this).val(), 'i');
                $('.searchable tr').hide();
                $('.searchable tr').filter(function () {
                    return rex.test($(this).text());
                }).show();
            })
        }(jQuery));
    });
</script>
{% endblock javascript %}