{% extends "base_site.html" %}
{% load static %}
{% block title %}Docker Host - {{ host_model.description }}{% endblock title %}
{% block container %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Docker Host - {{ host_model.description }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% include "breadcrumb.html" %}
            <h3 class="page-header">Info</h3>
                <div class="col-xs-6 col-sm-3">
                    <p>Containers</p>
                    <p>Images</p>
                    <p>Storage Driver</p>
                    <p style="margin-left:10px;">Root Dir</p>
                    <p style="margin-left:10px;">Backing Filesystem</p>
                    <p style="margin-left:10px;">Dirs</p>
                    <p>Execution Driver</p>
                    <p>Kernel Version</p>
                    <p>Operating System</p>
                    <p>CPUs</p>
                    <p>Total Memory</p>
                    <p>Name</p>
                    <p>Swap Limit</p>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <p>{{ host_info.Containers }}</p>
                    <p>{{ host_info.Images }}</p>
                    <p>{{ host_info.Driver }}</p>
                    <p>{{ host_info.DriverStatus.0.1 }}</p>
                    <p>{{ host_info.DriverStatus.1.1 }}</p>
                    <p>{{ host_info.DriverStatus.2.1 }}</p>
                    <p>{{ host_info.ExecutionDriver }}</p>
                    <p>{{ host_info.KernelVersion }}</p>
                    <p>{{ host_info.OperatingSystem }}</p>
                    <p>{{ host_info.NCPU }}</p>
                    <p>{{ host_info.MemTotal|filesizeformat }}</p>
                    <p>{{ host_info.Name }}</p>
                    <p>{{ host_info.SwapLimit }}</p>
                </div>
            </div>
    </div>
{% endblock container %}