{% extends "base_site.html" %}
{% load static %}
{% load containerstag %}
{% load imagestags %}
{% block title %}Images{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/sortable-theme-bootstrap.css" %}" />
{% endblock stylesheet %}
{% block container %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Docker Host - {{ host_model.description }}</h1>
            </div>
        </div> 
    </div> 
    <div class="row">
        <div class="col-lg-12">
            {% include "breadcrumb.html" %}
            <div class="pull-right search">
                <input id="filter" class="form-control" type="text" placeholder="Search">
            </div>
            <h3 class="page-header">Images</h3>
            <div class="table-responsive">
                <table class="table table-hover table-striped sortable-theme-bootstrap" data-sortable>
                    <thead>
                        <tr>
                            <th>Repo</th>
                            <th>Tags</th>
                            <th>Image ID</th>
                            <th>Created</th>
                            <th>Virtual Size</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="searchable">
                        {% for img in host_images %}
                            <tr>
                                <td>{{ img.RepoTags|showrepo }}</td>
                                <td>{{ img.RepoTags|showtag }}</td>
                                <td>{{ img.Id|truncateid }}</td>
                                <td>{{ img.Created|stampconvert }}</td>
                                <td>{{ img.VirtualSize|filesizeformat }}</td>
                                <td>
                                    <form action="" method="post" role="form">{% csrf_token %}
                                        <input type="hidden" name="image" value="{{ img.Id|truncateid }}">
                                        <button type="submit" class="btn btn-sm btn-default" name="delete" title="Delete" onclick="return confirm('Are you sure?')">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
{% endblock container %}
{% block javascript %}
<script src="{% static "js/sortable.min.js" %}"></script>
<script>
    $(document).ready(function () {
        (function ($) {
            $('#filter').keyup(function () {
                var rex = new RegExp($(this).val(), 'i');
                $('.searchable tr').hide();
                $('.searchable tr').filter(function () {
                    return rex.test($(this).text());
                }).show();
            })
        }(jQuery));
    });
</script>
{% endblock javascript %}